# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Playwright specific
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/reports/
summary.json
e2e/auth/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
Thumbs.db
